# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# Venvs
.venv/
venv/
ENV/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Tests
.coverage
htmlcov/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Outros
*.log
